 .container {
  display:flex;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, 
  box-shadow 0.3s ease;
  gap:10px;
  margin:10px 30px;
 }

 .container.img{
    flex:1;
    max-width: 400px;
 }
 .container img{
    height: auto;
    width:100%;
    object-fit: cover;
 }

 .container.content{
    flex:2;
    flex-direction: column;
 }